<!DOCTYPE html>

<html>
<head>
  <link rel="shortcut icon" href="res/favicon.ico" type="image/x-icon" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->
<!--  <script src="https://cdn.jsdelivr.net/npm/jquery.ui.layout@1.0.0/jquery.layout.min.js"></script> -->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.8/draggable.min.js"></script>  -->
  <script src="https://www.jsviews.com/download/jsviews.min.js"></script>
  <script src="amazon-cognito-auth.min.js"></script>
<!--  <script src="aws-cognito-sdk.min.js"></script> -->
  <script src="oracle.js"></script>
  <!-- TODO:  dynamic this: -->
  <script src="templates/l5r.js"></script>
  <script src="templates/lbs.js"></script>
  <script src="pdfkit.min.js" defer></script>
  <script src="blob-stream.min.js" defer></script>
  
<!--  <link href="https://www.jsviews.com/samples/samples.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
  <LINK href="oracle.css" rel="stylesheet" type="text/css" />
  <style>
  label {display: inline-block; margin: 6px 15px 2px 0px;}
  </style>
</head>
<body>
<!-- <div class="ui-layout-north"> -->
<div class="menubar" style="position: relative">
  <!-- <img src="res/logo-inline.png"> -->
  <nav role="navigation">
    <ul>
      <li><img src="res/hamburger-25.png">
	<ul>
	  <li>..</li>
	  <li>Settings/whatnot here</li>
<!--	  <li><a href="." onclick="cache_session('database','l5r');">Legend of the Five Rings</a></li>
	  <li><a href="." onclick="cache_session('database','lbs');">Legend of the Burning Sands</a></li> -->
	</ul>
      </li>
      <li class="gamechooser pullmenu"><span class="gameinfo-game"></span>
	<ul class="dropdown gamelist">
	</ul>
      </li>
      <li class="loginfo right"><span id="loginfo"></span>
	<ul class="dropdown menuone">
	  <li id="userinfo-drop">...</li>
	  <li onclick="dologout();">Log Out</li>
	</ul>
      </li>
      <li>Formats:</li>
      <li class="pullmenu">Search
      <ul class="dropdown" id="searchtemplatedropdown">
      </ul>
      </li>
      <li class="pullmenu">Card
      <ul class="dropdown" id="cardtemplatedropdown">
      </ul>
      </li>
      <li class="pullmenu">List
      <ul class="dropdown" id="listtemplatedropdown">
      </ul>
      </li>
      <li class="right"><span class="button gray" id="loginbutton" onclick="dologin();" style="display: none;">Log&nbsp;In/Register</span></li>
    </ul>
  </nav>
<div id="logarea"></div>
<!-- <img style="position: absolute; bottom: 3px; right: 11px;" src="res/icon-collapse-up-22x22.png" width="22px" height="12px" onclick="oraclelayout.toggle('north');" /> -->
</div>
<!-- </div>  -->

<!--   search area -->
<div id="sidebaropener" onclick="sidebaropener();"><img src="res/a-tabright.png"></div>
<div class="ui-layout-west" id="sidebar">
<div class="searchinput" id="searchinput">
<img id="sidebarcloser" src="res/a-tableft.png" width="21px" height="40px" onclick="sidebarcloser();" />
<div class="logo"> <img width="75" height="58" src="res/logo.png"> </div>
<input type="hidden" id="lastsearch" />
<input type="hidden" id="lastsearchquery" />
<input type="hidden" id="lastlistid" />
<input type="hidden" id="lastcardid" />
<input type="hidden" id="lastprintid" />
<form id="searchform" method="POST" onsubmit="dosearch(); return false;" action="">
<dl>
<dt class="notadvanced"></dt><dd class="searchbutton notadvanced"><span class="button gray" id="advancedbutton" onclick="$('dt.advanced').show(); $('dd.advanced').show(); $('dt.notadvanced').hide(); $('dd.notadvanced').hide();">Advanced</span></dd>
<dt class="advanced"></dt><dd class="searchbutton advanced"><span class="button gray" id="basicbutton" onclick="$('dt.advanced').hide(); $('dd.advanced').hide(); $('dt.notadvanced').show(); $('dd.notadvanced').show();">Basic</span></dd>
<dt class="advanced"></dt><dd class="searchbutton"><span class="button gray" id="resetbutton" onclick="$('#searchform')[0].reset();">Reset</span></dd>

<div id="searchtop"><dt>All</dt><dd><input type="text" name="querystring" id="qs" autofocus /></dd></div>
<div id="searchmiddle"></div>
</dl>
<div id="searchbottom">
<span class="gameinfo-gameshort"></span> <span class="gameinfo-gamelogo15"></span><br />
<span class="button gray" onclick="dosearch();">Search<span class="iiconic iyellow"><svg class="feather"><use xlink:href="res/feather-sprite.svg#loader"></svg></span></span>
</div></div>
</form>
<br clear="all" />
<br />
<div id="deckarea">
</div>

<!--
<br>
<style>img#amznBanners_assoc_banner_placement_default_0_img { display: inline-block; }</style>
<div style="text-align: center">
     <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_campaigns = "toysandgames";
        amzn_assoc_banner_type = "category";
        amzn_assoc_p = "21";
        amzn_assoc_isresponsive = "false";
        amzn_assoc_banner_id = "0QERA3S6YE7N02MRZX02";
        amzn_assoc_width = "125";
        amzn_assoc_height = "125";
        amzn_assoc_tracking_id = "ksuquix-20";
        amzn_assoc_linkid = "8d85a5d8e3789ce10e7930974c18a550";
     </script>
     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>
-->
<a href="https://www.facebook.com/pg/oracleofthevoid" target="_new">
<img src="res/FindUs-FB-RGB-BRC-Site-500.png" width="125px"> </a>
<br>
<a href="https://discord.gg/3ahYmwn" target="_new">
<img src="res/Discord-Logo+Wordmark-Color.png" width="125px"> </a>
<br>
<a href="https://www.patreon.com/oracleofthevoid" target="_new">
<img src="res/become_a_patron_button@2x.png" width="125px"> </a>
<!--
<br><br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2994105292824681",
          enable_page_level_ads: true
     });
</script>
-->

</div>
</div>
<!-- end search area -->
<!-- <br clear="all" /> -->
<div class="ui-layout-center" id="maincontent"> <!-- main content area -->
  <ul id="tabs">
    <li><a href="#" name="resultabout">About</a></li>
    <li><a href="#" name="resultsearch">Search</a></li>
    <li><a href="#" name="resultcard">Card</a></li>
    <li><a href="#" name="resultdir">Directory</a></li>
    <li><a href="#" name="resultlist">List</a></li>
    <li><a href="#" name="resulthelp">Help</a></li>
    <li class="r"><span class="numresults"></span></li>
  </ul>
<div class="resultcard" id="resultcard"><div class="randarea">No Cards rendered yet, Do a Search and click on a card.</div></div>
<div class="resultdir" id="resultdir">
  <div class="listitem directorylistheader">
    <div class="listheadmiddle">Id</div>
    <div class="listheadmiddle">Name</div>
    <div class="listheadmiddle">Type</div>
    <div class="listheadmiddle">Created</div>
    <div class="listheadmiddle">Modified</div>
    <div class="listheadmiddle">Public</div>
    <div class="listheadmiddle">Notes</div>
    <div class="listheadmiddle"></div>
    <div class="listheadmiddle"></div>
<!--    <div class="listheadmiddle"></div> -->
    <div class="listheadmiddle"><button aria-label="Create new list" data-balloon-pos="up-right" class="showonlogin iiconic ipositive" onclick="newlist();" style="display:none"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></svg></button></div>

  </div>
  <div class="hideonlogin directorylistitem out"><div class="randarea">You must be logged in to create/work with lists <span class="button gray" id="loginbutton" onclick="dologin();">Log&nbsp;In/Register</span></div></div>
  <div class="directorylistitem out"><div class="randarea">No Lists rendered yet</div></div>
</div>
<div class="resultlist" id="resultlist"><div class="randarea">No list selected, click on Directory</div></div>
<div class="resultsearch" id="resultsearch"><div class="randarea">No Searches performed yet, use the Search area on the left</div></div>
<div class="resultabout" id="resultabout">
<div class="randarea">
<!-- TODO:    integrate this documentation into stuff -->
<div class="helloplace"></div>
<br /><div class="infoplace">
Welcome to the L5R Oracle of the Void Database
<br>
<br>

After Legend of the Five Rings was sold to Fantasy Flight at the end of 2015, Don Eisele (Author of the Oracle of the Void) has continued to fund and run the Oracle of the Void.  He is currently working on revamping and coding the Oracle into a serverless cloud architecture on AWS.  The new version will be faster, more resiliant (not running in Don's basement), and support other games.
<br>
<br>
<br>

If you like the Oracle of the Void, please Like our Facebook page: <br>
<a href="https://www.facebook.com/pg/oracleofthevoid" target="_new">
<img src="res/social-facebook.png" width="300px"> </a>
<br>
<br>
<br>
Join us on Discord to discuss future plans, or just hang out: <br>
<a href="https://discord.gg/3ahYmwn" target="_new">
<img src="res/social-discord.png" width="300px"> </a>
<br>
<br>
<br>
Consider donating to the Oracle's Patreon to support the effort:<br>
<a href="https://www.patreon.com/oracleofthevoid" target="_new">
<img src="res/social-patreon.png" width="300px"> </a>
<br><br>
</div>
</div> 
</div><!-- resultabout   -->

<div class="resulthelp" id="resulthelp">
<div class="randarea">
<div class="infoplace">
<ul>
<li>Not everything is completely set yet, so if you have feedback let me know.
<li>All search boxes are logically AND'ed together.
<li>Title is a "match" field.   Individual words are matched against the title.
<li>Keywords is a "match phrase" field.  The complete phrase is matched.
<li>The Pull-down fields are self-explanatory
<li>The ALL field is where the true search power is.
<li>Results are agressively cached
<li>Infinite scrolling, loads more on demand (currently 10 items a load for debugging - will be larger in production)
</ul>

All:  <a target="_blank" href="http://lucene.apache.org/core/3_0_3/queryparsersyntax.html">Lucene search format:</a><br>
<dl>
<dt>Boolean
<dd><code>+keywords:"dark virtue" +text:reaction -title:determination</code>  (note: default is ANDing terms)
<dt>English
<dd><code>keywords:"dark virtue" AND text:reaction AND NOT title:determination</code>
<dt>Parenthesis
<dd><code>clan:crab AND (force:10 OR chi:6)</code>
<dt>backslash<dd><code>+ - && || ! ( ) { } [ ] ^  ~ * ? : \ (double-quote)</code>
<dt>fuzzy<dd><code>title:otaku~</code> will also find utaku card titles
<dt>slop<dd><code>title:"oni no"~2</code> will find "oni no" and "no oni" titles
<dt>gt/lt<dd><code>force:>15</code> will find cards greater than 15 force
</dl>

Each card has an entry with different printings nested under "printing"<br>
List of fields:
<pre>
banned
chi
clan
cost
deck
erratum
focus
force
formattedtitle
honor
cardid
keywords
legality
mrp
notes
ph
playtestname
production
startinghonor
story
strength
text
title
type
printingprimary

  printing:
     artist
     artnumber
     designer
     designernotes
     legaldate
     number
     printedtext
     printedwithset
     promoquantity
     rarity
     set
     use
     printingid

     printingchi
     printingclan
     printingcost
     printingflavor
     printingfocus
     printingforce
     printinghonor
     printingkeywords
     printingnotes
     printingpersonalhonor
     printingstory
     printingtext
     printingtitle
     printingtype
 </pre>
</div>
</div>

</div><!-- resulthelp -->
</div><!-- ui-content-center -->

<div id="all_template">

<script id="template-import" type="text/jsrender">
  <form id="importform" enctype="multipart/form-data">
    <input name="listid" id="importlistid" type="hidden" value="{{:listid}}" />
    <input name="table" type="hidden" value="{{:database}}" />
    <input name="data" id="importdataval" type="hidden" value="" />
    <input name="failed" id="importfailedval" type="hidden" value="" />
    <select name="fieldlist">
      <option value="">* Select input type *</option>
      <option value="textsnm,puretexttitle,title">Sun and Moon</option>
      <option value="puretexttitle,title">Native Oracle</option>
    </select><br /><br />
    <input name="file" type="file" /><br /><br />
    <input type="button" value="Upload" onclick="importlisttrigger();" /></form>
  <progress id="importprogress" style="display:none"></progress>
  <div id="importstatus"></div>
</script>

<script id="template-importsuccess" type="text/jsrender">
  <div class="numresults">Success</div>
  <br /><br />
  {{:numresults}} cards imported successfully<br />
  {{:numfailed}} cards failed to import<br />
  Do you wish to continue loading?
  <span class="button gray" onclick="importlistfinalize();">Yes<span class="iiconic ipositive"><svg class="feather"><use xlink:href="res/feather-sprite.svg#check-circle"></svg></span></span>
  <span class="button gray" onclick="nomodal();">No<span class="iiconic inegative"><svg class="feather"><use xlink:href="res/feather-sprite.svg#x-circle"></svg></span></span>
  {{if failed}}<br /><br />
  Failed cards:
  <pre>
    {{:failed}}
  </pre>
  {{/if}}
</script>

<script id="template-hello" type="text/x-jsrender">
<div class="helloplace">
  <strong>Profile Information</strong>
  <dl>
    <dt>Joined</dt><dd>{{formatDate:oracle.insert_date}}</dd>
    <dt>Uid</dt><dd>{{:oracle.uid}}</dd>
    <dt>Emails</dt><dd>{{:oracle.emails.join("<br/>")}}</dd>
    <dt></dt><dd>{{if oracle.is_no_email>0}}Email Notifications Disabled{{else}}Email Notifications Enabled{{/if}}</dd>
    <dt>Lists</dt><dd>{{:oracle.deckcount}} lists defined</dd>
  </dl>
</div>
</script>

<script id="template-listactive" type="text/x-jsrender">
<div class="listblock">
  <div><a href="#" onclick="listinfo('{{:listid}}',true); return false;">{{:name}}</a> ({{:type}})
      <button class="iiconic inegative" onclick="deactivatelist('{{:listid}}'); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#x-square"></button>
  </div>
  <div>{{if listdata}}({{:listdata.list.Items[0].list.length}} unique cards){{/if}}</div>
</div>
</script>

<script id="template-lists" type="text/x-jsrender">
<div class="listitem directorylistitem" id="listitem_{{:listid}}">
  <div class="listimage" onclick="listinfo('{{:listid}}',true)"; return false;><a aria-label="View List" data-balloon-pos="up-left" href="#" onclick="return false;">{{:listid}}</a></div>
  <div class="listmiddle" id="list_name:{{:listid}}" contenteditable="true">{{:name}}</div><div style="display: none;" id="list_prev_name:{{:listid}}">{{:name}}</div>
  <div class="listmiddle"><select class="listselect" onchange="listinfoupdate('{{:listid}}','type',this.value);">{{listTypeSelect:type}}</select></div>
  <div class="listmiddle">{{formatDate:createdate}}</div>
  <div class="listmiddle" id="list_modified:{{:listid}}">{{formatDate:modified}}</div>
  <div class="listmiddle"><select class="listselect" onchange="listinfoupdate('{{:listid}}','public',this.value);"><option value="false"{{if !public}} selected{{/if}}></option><option value="true"{{if public}} selected{{/if}}>Public</option></select></div><!-- TODO  figure out how to list public lists -->
  <div class="listmiddle" id="list_notes:{{:listid}}" contenteditable="true">{{:notes}}</div><div style="display: none;" id="list_prev_notes:{{:listid}}">{{:notes}}</div>

  <div class="listmiddle">
  <button aria-label="Activate List to Add cards from search" data-balloon-pos="up-right" class="iiconic idyellow" id="listinactive{{:listid}}" onclick="activatelist('{{:listid}}');"><svg class="feather"><use xlink:href="res/feather-sprite.svg#toggle-left"></svg></button>
  <button style="display:none" class="iiconic ipositive" id="listactive{{:listid}}" onclick="deactivatelist('{{:listid}}');"><svg class="feather"><use xlink:href="res/feather-sprite.svg#toggle-right"></svg></button>
  </div>

  <div aria-label="Delete List" data-balloon-pos="up-right"  class="listmiddle"><button class="iiconic inegative" onclick="removelist('{{:listid}}');"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></svg></button></div>

<div class="listmiddle"><nav role="download"><ul class="menuone">
<li><button aria-label="Download list" data-balloon-pos="up-right" class="iiconic ipositive"><svg class="feather"><use xlink:href="res/feather-sprite.svg#download"></svg></button>
  <ul>
  <li onclick="listinfo('{{:listid}}',false,'pdf,filename:ootv_{{filenamecleaner:name}}');"><button class="iiconic inegative"><svg class="feather"><use xlink:href="res/feather-sprite.svg#image"></svg> PDF</button></li>
  <li onclick="listinfo('{{:listid}}',false,'textsnm,filename:ootv_{{filenamecleaner:name}}');"><button class="iiconic idyellow"><svg class="feather"><use xlink:href="res/feather-sprite.svg#sun"></svg> Sun and Moon</button></li>
  <li onclick="listinfo('{{:listid}}',false,'texttab,filename:ootv_{{filenamecleaner:name}}');"><button class="iiconic iblue"><svg class="feather"><use xlink:href="res/feather-sprite.svg#columns"></svg> Tab-delimited</button></li>
<!--  <li onclick="listinfo('{{:listid}}',false,'texteopk,filename:ootv_{{filenamecleaner:name}}');"><button class="iiconic iblack"><svg class="feather"><use xlink:href="res/feather-sprite.svg#circle"></svg> Egg of Pan'ku</button></li> -->
<!--  <li onclick="listinfo('{{:listid}}',false,'textlackey,filename:ootv_{{filenamecleaner:name}}');"><button class="iiconic ipurple"><svg class="feather"><use xlink:href="res/feather-sprite.svg#copy"></svg> Lackey CCG</button></li> -->
  <li onclick="toggleheaders();"><button class="iiconic ipositive toggleheaderson"><svg class="feather"><use xlink:href="res/feather-sprite.svg#toggle-right"></svg></button><button style="display:none;" class="iiconic inegative toggleheadersoff"><svg class="feather"><use xlink:href="res/feather-sprite.svg#toggle-left"></svg></button> Headers</li>
  </ul>
</li></ul></nav></div>

<div class="listmiddle" onclick="importlist('{{:listid}}','{{:name}}');">
<button aria-label="Upload list" data-ballon-pos="up-right" class="iiconic ipositive"><svg class="feather"><use xlink:href="res/feather-sprite.svg#upload"></svg></button>
</div>

</div>
</script>

</div><!-- all_template -->
</div><!-- main content area -->

<div id="modal" class="modal" onclick="generalnomodal(this,event);"><div class="modal-box"><div class="listhead upperhead"><span id="modal-title">Hi</span><button class="iiconic inegative headsetrar" onclick="nomodal();"><svg class="feather"><use xlink:href="res/feather-sprite.svg#x-square"></button></div><div class="modal-content" id="modal-content"></div></div></div>

</body>
</html>

