<div class="listitem">
  <div class="listimage">
       {{for printing ~shorts=#data}}
          <div class="printing" data-printingid="{{:printingid}}">
            {{for printimagehash ~pid=printingid}}
               <img src="https://images.oracleofthevoid.com/lbs/{{:}}/printing_{{:~shorts.cardid}}_{{:~pid}}_details.jpg" /><br />
            {{/for}}
	  </div>
       {{/for}}
  </div>
  <div class="listbody">
  <input id="printingprimary" type="hidden" name="printingprimary" value="{{:printingprimary}}">
    <div class="listheadxl">{{if ~qs}}<a href="" id="cardprev" onclick="cardprev({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-left-one.png"></a>{{/if}} {{if ~qs}}<a href="" id="cardnext" onclick="cardnext({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-right-one.png"></a>{{/if}} {{:formattedtitle?formattedtitle:title}} <a id="cardclose" class="ex gray button" href="" onclick="window.history.back(); return false;">X</a>
</div>
    <dl>
<!--      <dt>Index</dt><dd><a href="" onclick="cardprev({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-left-one.png"></a> <a href="" onclick="cardnext({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-right-one.png"></a> </dd> -->

    <dt>{{:~labels.shorttitle}}</dt><dd>{{:title}}</dd>
    {{if type}}       <dt>{{:~labels.shorttype}}</dt><dd>{{:type}}</dd>  {{/if}}
     {{if strength || ka}}
       <dt>{{:~labels.shortstrength}}/{{:~labels.shortka}}</dt><dd><span class="iconic strength">{{:strength}}</span> <span class="iconic ka">{{:ka}}</span></dd>
     {{/if}}

     {{if influence}}
       <dt>{{:~labels.shortwater}}/{{:~labels.shortcopper}}/{{:~labels.shortinfluence}}</dt><dd><span class="smiconic smwater">{{:water}}</span> <span class="smiconic smcopper">{{:copper}}</span> <span class="smiconic sminf">{{:influence}}</span></dd>
     {{else}}
        {{if copper}}
          <dt>{{:~labels.shortcopper}}</dt><dd><span class="smiconic smcopper">{{:copper}}</span></dd>
	{{/if}}
     {{/if}}
     {{if city}}
       <dt>{{:~labels.shortcity}}</dt><dd><span class="smiconic smcity">{{:city}}</span></dd>
     {{/if}}

    {{if faction}}       <dt>{{:~labels.shortfaction}}</dt><dd>{{:faction}}</dd>  {{/if}}
    {{if keywords}}       <dt>{{:~labels.shortkeywords}}</dt><dd>{{:keywords.join(" &#149; ")}}</dd>  {{/if}}
    {{if text}}       <dt>{{:~labels.shorttext}}</dt><dd>{{:text}}</dd>  {{/if}}
    {{if fate}}       <dt>{{:~labels.shortfate}}</dt><dd>{{:fate}}</dd>  {{/if}}
    {{if deck}}       <dt>{{:~labels.shortdeck}}</dt><dd>{{:deck}}</dd>  {{/if}}
    {{if notes}}       <dt>{{:~labels.shortnotes}}</dt><dd>{{:notes}}</dd>  {{/if}}
    <dt>Versions</dt><dd>{{for printing ~top=#data}}<a class="printinglink gray button buttonsmall" href="" onclick="changeprinting({{:~top.cardid}},{{:printingid}},'{{addslashes:~qs}}','{{addslashes:~top.formattedtitle?~top.formattedtitle:~top.title}}'); return false;">({{:printingid}}) - {{:edition}}/{{:rarity}}</a> {{!-- {{if #index+1 < #get("array").data.length}} &#9679; {{/if}} --}} {{/for}}</dd>    {{for printing}}
      <div class="printing" data-printingid="{{:printingid}}">
        <hr>
        {{if edition}}       <dt>{{:~labels.shortedition}}</dt><dd>{{:edition}}</dd>  {{/if}}
        {{if rarity}}       <dt>{{:~labels.shortrarity}}</dt><dd>{{:rarity}}</dd>  {{/if}}
        {{if flavor}}       <dt>{{:~labels.shortflavor}}</dt><dd>{{:flavor}}</dd>  {{/if}}
        {{if number}}       <dt>{{:~labels.shortnumber}}</dt><dd>{{:number}}</dd>  {{/if}}
        <hr>
      </div>
    {{/for}}
    </dl>
  </div>
</div>
<br clear="all" />

