<!-- TODO:    searching with edition selected but no rarity breaks image output - took out rarity.. now if there were two cards from a edition it will break - need to fix, not as crit
  TODO: better way to get image info... related to previous TODO
  TODO: pass onclick info into here from oracle.js to make this pure display logic
 -->
<div class="listitem">
  <div class="listimage">
{{!--<!--       <a href="" onclick="docardid({{:cardid}},null,'{{:~qs}}'); return false;"><img src="https://s3.us-east-2.amazonaws.com/oracle-l5r/{{if ~datarequest.field_printing_edition}}{{imagehashfromedition ~datarequest.field_printing_edition printing /}}/printing_{{:cardid}}_{{printingidfromedition ~datarequest.field_printing_edition printing /}}_select.jpg{{else}}{{:imagehash}}/card_{{:cardid}}__icon.jpg{{/if}}" /></a><br /> --> --}}
  </div>
  <div class="listbody">
  <div class="listhead"><a href="" onclick="docardid({{:cardid}},null,'{{addslashes:~qs}}'); return false;">{{:formattedtitle?formattedtitle:title}}</a> <span class="headsetrar">{{printingfromid printingprimary printing "edition" /}} &#149; {{printingfromid printingprimary printing "rarity" /}}</span></div>
       {{for printing}}
          {{:edition}} ({{:rarity}}){{if #index+1 < #get("array").data.length}} &#9679; {{/if}}
	  {{/for}}

     <br />
     {{:type}}<br />
     {{if strength || ka}}
       <span class="smiconic smstrength">{{:strength}}</span> <span class="smiconic smchi">{{:chi}}</span><br />
     {{/if}}
     {{if water || influence}}
       <span class="smiconic smwater">{{:water}}</span> <span class="smiconic smcopper">{{:copper}}</span> <span class="smiconic sminfluence">{{:influence}}</span><br />
     {{else}}
        {{if copper}}
          <span class="smiconic smcopper">{{:copper}}</span><br />
	{{/if}}
     {{/if}}
     {{if city}}
       <span class="smiconic smcity">{{:city}}</span> <br />
     {{/if}}
<!--     {{if keywords}}
       {{:keywords.join(" &#9679; ")}}<br />
     {{/if}} -->
     {{if text}}
       {{:text}}<br />
     {{/if}}
     {{if fate}}
       <span class="smiconic smfate">{{:fate}}</span><br />
     {{/if}}
  </div>
</div>
