<!-- TODO:    searching with set selected but no rarity breaks image output - took out rarity.. now if there were two cards from a set it will break - need to fix, not as crit
  TODO: better way to get image info... related to previous TODO
  TODO: pass onclick info into here from oracle.js to make this pure display logic
  TODO:     when displayed as details as part of a list, not doing version completely
 -->
<div class="listitem">
  <div class="listimage">
       <a href="#game={{:~database}},#cardid={{:cardid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:cardid}},null,'{{addslashes:~qs}}'); } return false;"><img src="{{fetchimage #view.data "select" false ~datarequest /}}" /></a><br />
  </div>
  <div class="listbody">
    <div class="listhead"><a href="#game={{:~database}},#cardid={{:cardid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:cardid}},null,'{{addslashes:~qs}}'); } return false;">{{:formattedtitle?formattedtitle:title}}</a> <span class="headsetrar">{{fetchdata #view.data "set" false ~datarequest /}} &#149; {{fetchdata #view.data "rarity" false ~datarequest /}}</span></div>

       {{for printing ~cardid=cardid}}
          <a class="printinglink gray button buttonsmaller" href="#game={{:~database}},#cardid={{:~cardid}},#cnprintingid={{:printingid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:~cardid}},{{:printingid}},'{{addslashes:~qs}}'); } return false;">({{:printingid}}) {{:set}}/{{:rarity}}</a><!-- {{if #index+1 < #get("array").data.length}} &#9679; {{/if}} -->
	  {{/for}}

     <br />

     <div class="listmanagement">
      {{for ~activelists ~cardid=cardid}}
	{{:name}}
	<span class="iiconic ipositive" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></span>
	<span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,-1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#minus-circle"></span>
	<span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,null); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></span>
      <br />
      {{/for}}

      {{if ~datarequest.field_printing_set && ~activelists.length>0}}
      <div>
      {{setfromset ~datarequest.field_printing_set printing /}}<br />  {{!-- TODO:  fetchfull should replace this i'd think   --}}
        {{for ~activelists ~cardid=cardid ~printing=printing}}
          {{:name}}
          <span class="iiconic ipositive" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{printingidfromset ~datarequest.field_printing_set ~printing /}},1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></span>
          <span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{printingidfromset ~datarequest.field_printing_set ~printing /}},-1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#minus-circle"></span>
          <span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{printingidfromset ~datarequest.field_printing_set ~printing /}},null); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></span>
          <br />
	  {{/for}}
      </div>
      {{/if}}    
      </div>
  

     {{if type}} <dt>{{:~labels.shorttype}}</dt><dd><span class="iconic 7siconic">{{:type}}</span> </dd> {{/if}}


        {{if power}} 
                  <dt>{{:~labels.shortpower}}/{{:~labels.shorttraction}}/{{:~labels.shortcost}}/{{:~labels.shortmods}}
                  </dt><dd><span class="iconic 7siconic">{{:power}}/{{:traction}}/{{:cost}}/{{:mods}}</span></dd> 
        {{else cost}}
            <dt>{{:~labels.shortcost}}</dt><dd><span class="iconic 7siconic">{{:cost}}</span> </dd> 
        {{/if}}

   {{if stages}}       <dt>{{:~labels.shortstages}}</dt><dd>{{:stages.join(" &#149; ")}}</dd>  {{/if}}

        {{if tactic || turn || speed}} 
                  <dt>{{:~labels.shorttactic}}/{{:~labels.shortturn}}/{{:~labels.shortspeed}}
                  </dt><dd><span class="iconic 7siconic">{{:tactic}}/{{:turn}}/{{:speed}}</span></dd> 
        {{/if}}

        {{if requires || requiretype}} 
                  <dt>{{:~labels.shortrequires}}
                  </dt><dd><span class="iconic 7siconic">{{:requires}} {{:requiretype}}</span></dd> 
        {{/if}}

        {{if straight || curves || obstacles}} 
                  <dt>{{:~labels.shortstraight}}/{{:~labels.shortcurves}}/{{:~labels.shortobstacles}}
                  </dt><dd><span class="iconic 7siconic">{{:straight}}/{{:curves}}/{{:obstacles}}</span></dd> 
        {{/if}}

    {{if traits}}       <dt>{{:~labels.shorttraits}}</dt><dd>{{:traits.join(" &#149; ")}}</dd>  {{/if}}
    {{if only && only.length}}       <dt>{{:~labels.shortonly}}</dt><dd>{{:only.join(" &#149; ")}}</dd>  {{/if}}
    {{if text}}       <dt>{{:~labels.shorttext}}</dt><dd>{{:text}}</dd>  {{/if}}

    </div>
</div>

