{{include tmpl="#template-card-top" /}}
    <dt>{{:~labels.shorttitle}}</dt><dd>{{:title}}</dd>
    {{if type}}       <dt>{{:~labels.shorttype}}</dt><dd>{{:type}}</dd>  {{/if}}
     {{if force || chi}}
       <dt>{{:~labels.shortforce}}/{{:~labels.shortchi}}</dt><dd><span class="iconic force">{{:force}}</span> <span class="iconic chi">{{:chi}}</span></dd>
     {{/if}}

     {{if honor || ph}}
       <dt>{{:~labels.shorthonor}}/{{:~labels.shortcost}}/{{:~labels.shortph}}</dt><dd><span class="smiconic smhr">{{:honor}}</span> <span class="smiconic smgc">{{:cost}}</span> <span class="smiconic smph">{{:ph}}</span></dd>
     {{else}}
        {{if cost}}
          <dt>{{:~labels.shortcost}}</dt><dd><span class="smiconic smgc">{{:cost}}</span></dd>
	{{/if}}
     {{/if}}
     {{if strength || startinghonor}}
       <dt>{{:~labels.shortstrength}}/{{:~labels.shortproduction}}/{{:~labels.shortstartinghonor}}</dt><dd><span class="smiconic smforce">{{:strength}}</span> <span class="smiconic smgc">{{:production}}</span> <span class="smiconic smhr">{{:startinghonor}}</span></dd>
     {{else}}
       {{if production}}
         <dt>{{:~labels.shortproduction}}</dt><dd><span class="smiconic smgc">+{{:production}}</span></dd>
       {{/if}}
     {{/if}}

    {{if clan}}       <dt>{{:~labels.shortclan}}</dt><dd>{{:clan}}</dd>  {{/if}}
    {{if keywords}}       <dt>{{:~labels.shortkeywords}}</dt><dd>{{:keywords.join(" &#149; ")}}{{if iconised}} {{:iconised.join(" ")}}{{/if}}</dd>  {{/if}}
    {{if text}}       <dt>{{:~labels.shorttext}}</dt><dd>{{:text}}</dd>  {{/if}}
    {{if focus}}       <dt>{{:~labels.shortfocus}}</dt><dd>{{:focus}}</dd>  {{/if}}
    {{if legality}}       <dt>{{:~labels.shortlegality}}</dt><dd>{{:legality.join(" &#149; ")}}</dd>  {{/if}}
	 {{if legaldate}}       <dt>{{:~labels.shortlegaldate}}</dt><dd>{{:legaldate}}</dd>  {{/if}}
	 {{if banned}} <dt>{{:~labels.shortbanned}}</dt><dd>{{:banned}}</dd>  {{/if}}
	 {{if erratum}} <dt>{{:~labels.shorterratum}}</dt><dd>{{:erratum}}</dd>  {{/if}}
	 {{if mrp}} <dt>{{:~labels.shortmrp}}</dt><dd>{{:mrp}}</dd>  {{/if}}
    {{if deck}}       <dt>{{:~labels.shortdeck}}</dt><dd>{{:deck}}</dd>  {{/if}}
    {{if notes}}       <dt>{{:~labels.shortnotes}}</dt><dd>{{:notes}}</dd>  {{/if}}
    {{if story}}       <dt>{{:~labels.shortstory}}</dt><dd>{{:story}}</dd>  {{/if}}

{{include tmpl="#template-card-middle" /}}

{{for printing}}
      <div class="printing" data-printingid="{{:printingid}}">
        <hr>
        {{if set}}       <dt>{{:~labels.shortset}}</dt><dd>{{:set}}</dd>  {{/if}}
        {{if rarity}}       <dt>{{:~labels.shortrarity}}</dt><dd>{{:rarity}}</dd>  {{/if}}
        {{if flavor}}       <dt>{{:~labels.shortflavor}}</dt><dd>{{:flavor}}</dd>  {{/if}}
        {{if notes}}       <dt>{{:~labels.shortnotes}}</dt><dd>{{:notes}}</dd>  {{/if}}
        {{if story}}       <dt>{{:~labels.shortstory}}</dt><dd>{{:story}}</dd>  {{/if}}
        {{if artist}}       <dt>{{:~labels.shortartist}}</dt><dd>{{:artist}}</dd>  {{/if}}
        {{if number}}       <dt>{{:~labels.shortnumber}}</dt><dd>{{:number}}</dd>  {{/if}}
        <hr>
      </div>
    {{/for}}
{{include tmpl="#template-card-bottom" /}}
