<div class="listitem">
  <div class="listimage">
  </div>
  <div class="listbody">
  <input id="printingprimary" type="hidden" name="printingprimary" value="{{:printingprimary}}">
    <div class="listheadxl">{{if ~qs}}<a href="" id="cardprev" onclick="cardprev({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-left-one.png"></a>{{/if}} {{if ~qs}}<a href="" id="cardnext" onclick="cardnext({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-right-one.png"></a>{{/if}} {{:formattedtitle?formattedtitle:title}} <a id="cardclose" class="ex gray button" href="" onclick="window.history.back(); return false;">X</a>
</div>
       {{for printing ~shorts=#data}}
          <div class="printing" data-printingid="{{:printingid}}">
            {{for printimagehash ~pid=printingid}}
               <img src="https://s3.us-east-2.amazonaws.com/oracle-l5r/{{:}}/printing_{{:~shorts.cardid}}_{{:~pid}}_master.jpg" /><br />
            {{/for}}
	  </div>
       {{/for}}

  </div>
</div>
<br clear="all" />

