{{include tmpl="#template-card-top" /}}
    <dt>{{:~labels.shorttitle}}</dt><dd>{{:title}}</dd>


     {{if type}} <dt>{{:~labels.shorttype}}</dt><dd><span class="iconic 7siconic">{{:type}}</span> </dd> {{/if}}

    {{if level || class}}       <dt>{{:~labels.shortlevel}}</dt><dd>{{:level}} {{:class}}</dd>  {{/if}}
    {{if alignment}}       <dt>{{:~labels.shortalignment}}</dt><dd>{{:alignment}}</dd>  {{/if}}

   {{if attack || armorClass || skill || hitPoints}}
      <dt>Stats</dt>
      <dd>{{if attack}}{{:attack}} {{:~labels.shortattack}}{{if armorClass}} &#149; {{/if}}{{/if}}
          {{if armorClass}}{{:armorClass}} {{:~labels.shortarmorClass}}{{/if}}
          {{if skill || hitPoints}} &#149; {{:skill}} {{:~labels.shortskill}} &#149; {{:hitPoints}} {{:~labels.shorthitPoints}}{{/if}}
      </dd>
    {{/if}}

   {{if faction || traits || feats }}       <dt>{{:~labels.shorttraits}}</dt><dd>{{:~concatarrays(faction,traits,feats).join(" &#149; ")}}</dd>  {{/if}}

    {{if text}}       <dt>{{:~labels.shorttext}}</dt><dd>{{:text}}</dd>  {{/if}}

   {{if formats && formats.length}}       <dt>{{:~labels.shortformats}}</dt><dd>{{:formats.join(" &#149; ")}}</dd>  {{/if}}
    {{if challengeLord}}       <dt>{{:~labels.shortchallengeLord}}</dt><dd>YES</dd>  {{/if}}
    {{if errata}}       <dt>{{:~labels.shorterrata}}</dt><dd>{{:errata}}</dd>  {{/if}}

{{include tmpl="#template-card-middle" /}}

      {{for printing}}
      <div class="printing" data-printingid="{{:printingid}}">
        <hr>
        {{if set}}       <dt>{{:~labels.shortset}}</dt><dd>{{:set}}</dd>  {{/if}}
        {{if rarity}}       <dt>{{:~labels.shortrarity}}</dt><dd>{{:rarity}}</dd>  {{/if}}
        {{if flavorTraits && flavorTraits.length}}       <dt>{{:~labels.shortflavorTraits}}</dt><dd>{{:flavorTraits.join(" &#149; ")}}</dd>  {{/if}}
        {{if flavorText}}       <dt>{{:~labels.shortflavorText}}</dt><dd>{{:flavorText}}</dd>  {{/if}}
        {{if artist}}       <dt>{{:~labels.shortartist}}</dt><dd>{{:artist}}</dd>  {{/if}}
        {{if setnumber}}       <dt>{{:~labels.shortsetnumber}}</dt><dd>{{:setnumber}}</dd>  {{/if}}
        <hr>
      </div>
    {{/for}}
{{include tmpl="#template-card-bottom" /}}
