{{if cardid==0}}{{if decktitle}}<div class="listhead">{{:title}}</div>{{/if}}{{else}}
<a href="#game={{:~database}},#cardid={{:cardid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:cardid}}); } return false;">
  <div style="display: inline-flex; flex-direction: column; padding-top: 190px">
    <!-- qty: {{:listquantity}} -->
    {{for start=0 end=listquantity itemVar="~qcount" ~cardid=cardid ~printing=printing ~printingprimary=printingprimary ~listprinting=listprinting}} 
    <img style="position: relative; margin-top: -185px" src="{{fetchimage #parent.parent.data "select" ~listprinting?~listprinting:false ~datarequest /}}" />
    {{/for}}
  </div>
</a>
{{/if}}
