<!-- TODO:    searching with set selected but no rarity breaks image output - took out rarity.. now if there were two cards from a set it will break - need to fix, not as crit
  TODO: better way to get image info... related to previous TODO
  TODO: pass onclick info into here from oracle.js to make this pure display logic
 -->
<div class="listitem">
  <div class="listimage">
       <a href="#cardid={{:cardid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:cardid}},null,'{{addslashes:~qs}}'); } return false;"><img src="{{fetchimage #view.data "select" false ~datarequest /}}" /></a><br />
  </div>
  <div class="listbody">
  <div class="listhead"><a href="#cardid={{:cardid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:cardid}},null,'{{addslashes:~qs}}'); } return false;">{{:formattedtitle?formattedtitle:title}}</a> <span class="headsetrar">{{fetchdata #view.data "set" false ~datarequest /}} &#149; {{fetchdata #view.data "rarity" false ~datarequest /}}</span></div>

       {{for printing ~cardid=cardid}}
          <a class="printinglink gray button buttonsmaller" href="#cardid={{:~cardid}},#cnprintingid={{:printingid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:~cardid}},{{:printingid}},'{{addslashes:~qs}}'); } return false;">({{:printingid}}) {{:set}}/{{:rarity}}</a><!-- {{if #index+1 < #get("array").data.length}} &#9679; {{/if}} -->
	  {{/for}}

<br />

     <div class="listmanagement">
      {{for ~activelists ~cardid=cardid}}
	{{:name}}
	<span class="iiconic ipositive" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></span>
	<span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,-1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#minus-circle"></span>
	<span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,null); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></span>
      <br />
      {{/for}}

      {{if ~datarequest.field_printing_set}}
      <div>
      {{:~datarequest.field_printing_set}}<br />
        {{for ~activelists ~cardid=cardid ~printing=printing}}
          {{:name}}
          <span class="iiconic ipositive" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{printingidfromset ~datarequest.field_printing_set ~printing /}},1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></span>
          <span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{printingidfromset ~datarequest.field_printing_set ~printing /}},-1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#minus-circle"></span>
          <span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{printingidfromset ~datarequest.field_printing_set ~printing /}},null); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></span>
          <br />
	  {{/for}}
      </div>
      {{/if}}    
      </div>

     
     {{:type}}<br />
     {{if strength || ka}}
       <span class="iconic smstrength">{{:strength}}{{:~labels.shortstrength}}</span> <span class="iconic smka">{{:ka}}{{:~labels.shortka}}</span><br />
     {{/if}}
     {{if influence}}
       <span class="iconic smwater">{{:water}}{{:~labels.shortwater}}</span> <span class="iconic smcopper">{{:copper}}{{:~labels.shortcopper}}</span> <span class="iconic sminfluence">{{:influence}}{{:~labels.shortinfluence}}</span><br />
     {{else}}
        {{if copper}}
          <span class="iconic smwater">{{:water}}{{:~labels.shortwater}}</span> <span class="iconic smcopper">{{:copper}}{{:~labels.shortcopper}}</span><br />
	{{/if}}
     {{/if}}
     {{if city}}
       <span class="iconic smcity">{{:city}}{{:~labels.shortcity}}</span> <br />
     {{/if}}
<!--     {{if keywords}}
       {{:keywords.join(" &#9679; ")}}<br />
     {{/if}} -->
     {{if text}}
       {{:text}}<br />
     {{/if}}
     {{if fate}}
       <span class="iconic smfate">{{:fate}}{{:~labels.shortfate}}</span><br />
     {{/if}}
  </div>
</div>
