<!-- TODO:    searching with set selected but no rarity breaks image output - took out rarity.. now if there were two cards from a set it will break - need to fix, not as crit
  TODO: better way to get image info... related to previous TODO
  TODO: pass onclick info into here from oracle.js to make this pure display logic
 -->
<div class="listitemplain">
  {{if cardid==0}}
    <div class="{{if title}}listhead{{else}}listheadplain{{/if}}">
      {{if title}}{{:title}}{{else}}{{:subtitle}}{{/if}}
    </div>
    {{else}}
    <div class="listbodyplain">
      {{if listquantity}}<span contenteditable="true" class="editquantity" id="clist_quantity:{{:~datarequest.listid}}:{{:cardid}}:{{:listprinting}}:{{:listquantity}}">{{:listquantity}}</span>x{{/if}} <a href="#cardid={{:cardid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { docardid({{:cardid}},null,'{{:~qs}}'); } return false;">{{:formattedtitle?formattedtitle:title}}</a> 
      {{if listprinting}}[{{printingfromid listprinting printing "set" /}} &#149; {{printingfromid listprinting printing "rarity" /}}]{{/if}}
      {{!-- ({{:type}}) --}}
      <div class="listmanagement">
	<span class="iiconic ipositive" onclick="addlistitem('{{:~datarequest.listid}}','{{:cardid}}','{{:listprinting}}',1,false,'{{:~datarequest.sort}}'); return false;">&#57352;</span>
	<span class="iiconic inegative" onclick="addlistitem('{{:~datarequest.listid}}','{{:cardid}}','{{:listprinting}}',-1,false,'{{:~datarequest.sort}}'); return false;">&#57353;</span>
	<span class="iiconic inegative" onclick="addlistitem('{{:~datarequest.listid}}','{{:cardid}}','{{:listprinting}}',null,false,'{{:~datarequest.sort}}'); return false;">&#10008;</span>
      </div>
    </div>
  {{/if}}
</div>
