{{include tmpl="#template-card-top" /}}
    <dt>{{:~labels.shorttitle}}</dt><dd>{{:title}}</dd>
    {{if type}}       <dt>{{:~labels.shorttype}}</dt><dd>{{:type}}</dd>  {{/if}}
        {{if cost}} <dt>{{:~labels.shortcost}}/{{:~labels.shortcancel}}
                  </dt><dd><span class="iconic 7siconic">{{:cost}} {{:costtype}}{{if cancel}} / {{:cancel}} {{:canceltype}}{{/if}}</span>
        </dd> {{/if}}
     {{if cannon || sailing || adventuring || influence || swashbuckling }}
       <dt>{{:~labels.shortprod}}</dt><dd><span class="iconic 7siconic">{{:cannon}} {{:~labels.shortcannon}}</span> 
                                          <span class="iconic 7siconic">{{:sailing}} {{:~labels.shortsailing}}</span>
                                          <span class="iconic 7siconic">{{:adventuring}} {{:~labels.shortadventuring}}</span>
                                          <span class="iconic 7siconic">{{:influence}} {{:~labels.shortinfluence}}</span>
                                          <span class="iconic 7siconic">{{:swashbuckling}} {{:~labels.shortswashbuckling}}</span>
      </dd>
     {{/if}}

     {{if movecost}} <dt>{{:~labels.shortmovecost}}</dt><dd><span class="iconic 7siconic">{{:movecost}}</span> </dd> {{/if}}
     {{if startingwealth}} <dt>{{:~labels.shortstartingwealth}}</dt><dd><span class="iconic 7siconic">{{:startingwealth}}</span> </dd> {{/if}}

     {{if attack}} <dt>{{:~labels.shortattack}}/{{:~labels.shortparry}}</dt><dd><span class="iconic 7siconic">{{:attack}}/{{:parry}}</span> </dd> {{/if}}

    {{if faction}}       <dt>{{:~labels.shortfaction}}</dt><dd>{{:faction}}</dd>  {{/if}}
    {{if affiliation}}       <dt>{{:~labels.shortaffiliation}}</dt><dd>{{:affiliation}}</dd>  {{/if}}

    {{if trait}}       <dt>{{:~labels.shorttrait}}</dt><dd>{{:trait.join(" &#149; ")}}</dd>  {{/if}}
    {{if tocomplete}}       <dt>{{:~labels.shorttocomplete}}</dt><dd>{{:tocomplete}}</dd>  {{/if}}
    {{if text}}       <dt>{{:~labels.shorttext}}</dt><dd>{{:text}}</dd>  {{/if}}

	 {{if errata}} <dt>{{:~labels.shorterrata}}</dt><dd>{{:errata}}</dd>  {{/if}}

    {{if notes}}       <dt>{{:~labels.shortnotes}}</dt><dd>{{:notes}}</dd>  {{/if}}

{{include tmpl="#template-card-middle" /}}

{{for printing}}
      <div class="printing" data-printingid="{{:printingid}}">
        <hr>
        {{if set}}       <dt>{{:~labels.shortset}}</dt><dd>{{:set}}</dd>  {{/if}}
        {{if rarity}}       <dt>{{:~labels.shortrarity}}</dt><dd>{{:rarity}}</dd>  {{/if}}
        {{if flavor}}       <dt>{{:~labels.shortflavor}}</dt><dd>{{:flavor}}</dd>  {{/if}}
        {{if artist}}       <dt>{{:~labels.shortartist}}</dt><dd>{{:artist}}</dd>  {{/if}}
        {{if cardnumber}}       <dt>{{:~labels.shortcardnumber}}</dt><dd>{{:cardnumber}}</dd>  {{/if}}
        <hr>
      </div>
      {{/for}}
      
{{include tmpl="#template-card-bottom" /}}
