<div class="listitem">
  <div class="listimage">
       {{for printing ~shorts=#data}}
          <div class="printing" data-printingid="{{:printingid}}">
            {{if image}}
            {{for image ~imagehash=imagehash}}
               <img src="https://images.oracleofthevoid.com/initiald/{{:~imagehash}}/{{:details}}" /><br />
            {{/for}}
            {{else}}
               <img src="/res/missing-stamp-rot288.png">
            {{/if}}
	  </div>
       {{/for}}
  </div>
  <div class="listbody">
  <input id="printingprimary" type="hidden" name="printingprimary" value="{{:printingprimary}}">
    <div class="listheadxl">{{if ~qs}}<a href="" id="cardprev" onclick="cardprev({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-left-one.png"></a>{{/if}} {{if ~qs}}<a href="" id="cardnext" onclick="cardnext({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-right-one.png"></a>{{/if}} {{:formattedtitle?formattedtitle:title}} <a id="cardclose" class="ex gray button" href="" onclick="window.history.back(); return false;">X</a>
</div>
    <dl>
<!--      <dt>Index</dt><dd><a href="" onclick="cardprev({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-left-one.png"></a> <a href="" onclick="cardnext({{:cardid}},'{{addslashes:~qs}}'); return false"><img src="res/symbol-right-one.png"></a> </dd> -->

    <dt>{{:~labels.shorttitle}}</dt><dd>{{:title}}</dd>


     {{if type}} <dt>{{:~labels.shorttype}}</dt><dd><span class="iconic 7siconic">{{:type}}</span> </dd> {{/if}}


        {{if power}}
                  <dt>{{:~labels.shortpower}}/{{:~labels.shorttraction}}/{{:~labels.shortcost}}/{{:~labels.shortmods}}
                  </dt><dd><span class="iconic 7siconic">{{:power}}/{{:traction}}/{{:cost}}/{{:mods}}</span></dd>
        {{else cost}}
            <dt>{{:~labels.shortcost}}</dt><dd><span class="iconic 7siconic">{{:cost}}</span> </dd>
        {{/if}}

   {{if stages}}       <dt>{{:~labels.shortstages}}</dt><dd>{{:stages.join(" &#149; ")}}</dd>  {{/if}}

        {{if tactic || turn || speed}}
                  <dt>{{:~labels.shorttactic}}/{{:~labels.shortturn}}/{{:~labels.shortspeed}}
                  </dt><dd><span class="iconic 7siconic">{{:tactic}}/{{:turn}}/{{:speed}}</span></dd>
        {{/if}}

        {{if requires || requiretype}}
                  <dt>{{:~labels.shortrequires}}
                  </dt><dd><span class="iconic 7siconic">{{:requires}} {{:requiretype}}</span></dd>
        {{/if}}

        {{if straight || curves || obstacles}}
                  <dt>{{:~labels.shortstraight}}/{{:~labels.shortcurves}}/{{:~labels.shortobstacles}}
                  </dt><dd><span class="iconic 7siconic">{{:straight}}/{{:curves}}/{{:obstacles}}</span></dd>
        {{/if}}

    {{if traits}}       <dt>{{:~labels.shorttraits}}</dt><dd>{{:traits.join(" &#149; ")}}</dd>  {{/if}}
    {{if only && only.length}}       <dt>{{:~labels.shortonly}}</dt><dd>{{:only.join(" &#149; ")}}</dd>  {{/if}}
    {{if text}}       <dt>{{:~labels.shorttext}}</dt><dd>{{:text}}</dd>  {{/if}}

    {{if notes}}       <dt>{{:~labels.shortnotes}}</dt><dd>{{:notes}}</dd>  {{/if}}

    <dt>Versions</dt><dd>{{for printing ~top=#data}}<a class="printinglink gray button buttonsmall" href="#game={{:~database}},#cardid={{:~top.cardid}},#cnprintingid={{:printingid}}" onclick="if(event.metaKey || event.ctrlKey) {window.open(this.href); } else { changeprinting({{:~top.cardid}},{{:printingid}},'{{addslashes:~qs}}','{{addslashes:~top.formattedtitle?~top.formattedtitle:~top.title}}'); } return false;">({{:printingid}}) {{:set}}/{{:rarity}}</a> {{!-- {{if #index+1 < #get("array").data.length}} &#9679; {{/if}} --}} {{/for}}</dd>    {{for printing}}
      <div class="printing" data-printingid="{{:printingid}}">
        <hr>
        {{if set}}       <dt>{{:~labels.shortset}}</dt><dd>{{:set}}</dd>  {{/if}}
        {{if rarity}}       <dt>{{:~labels.shortrarity}}</dt><dd>{{:rarity}}</dd>  {{/if}}
        {{if flavor}}       <dt>{{:~labels.shortflavor}}</dt><dd>{{:flavor}}</dd>  {{/if}}

        {{if cardno}}       <dt>{{:~labels.shortcardno}}</dt><dd>{{:cardno}}</dd>  {{/if}}
        {{if setno}}       <dt>{{:~labels.shortsetno}}</dt><dd>{{:setno}}</dd>  {{/if}}
        {{if copy}}       <dt>{{:~labels.shortcopy}}</dt><dd>{{:copy}}</dd>  {{/if}}

        <hr>
      </div>
    {{/for}}
    </dl>

    {{if ~activelists.length > 0}}
     <div class="listmanagement">
      {{for ~activelists ~cardid=cardid}}
	{{:name}}
	<span class="iiconic ipositive" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></span>
	<span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,-1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#minus-circle"></span>
	<span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',0,null); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></span>
      <br />
      {{/for}}

      {{for printing ~cardid=cardid}}
      <div>
      {{:set}}<br />
        {{for ~activelists ~printingid=printingid}}
          {{:name}}
          <span class="iiconic ipositive" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{:~printingid}},1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#plus-circle"></span>
          <span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{:~printingid}},-1); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#minus-circle"></span>
          <span class="iiconic inegative" onclick="addlistitem('{{:listid}}','{{:~cardid}}',{{:~printingid}},null); return false;"><svg class="feather"><use xlink:href="res/feather-sprite.svg#trash-2"></span>
          <br />
	  {{/for}}
      </div>
      {{/for}}    
      </div>
    {{/if}}

    
    </div>
</div>
<br clear="all" />
